<?xml version="1.0" encoding="utf-8"?>

<!--
General notes about translation strings.
https://www.jetbrains.com/help/kotlin-multiplatform-dev/compose-multiplatform-resources-usage.html#strings

Be aware, that plural definitions are language specific.
According to your language, you might need to set different quantity values.
https://www.jetbrains.com/help/kotlin-multiplatform-dev/compose-multiplatform-resources-usage.html#plurals
-->

<resources>
    <string name="AppSidebarCreate">Erzeugen</string>
    <string name="AppSidebarCheck">Prüfen</string>
    <string name="AppSidebarSettings">Optionen</string>
    <string name="AppSidebarQuit">Beenden</string>
</resources>